<h3>Application settings:</h3>

<input class='settings' type="checkbox" name="1" value="1"> setting 1<br>
<input class='settings' type="checkbox" name="2" value="2"> setting 2<br>
<input class='settings' type="checkbox" name="3" value="3"> setting 3<br>
<input class='settings' type="checkbox" name="4" value="4"> setting 4
