<p>Oh no, we're fully booked. Go to the pizza shop instead.</p>

<div>
  <img id='full' src="/images/crying-face-jesse2.jpg">
</div>

<form action="/bookings/new" method="get">
  <input class='booking_btns' type="submit" value="Make another booking">
</form>
