<p>Keep up the good work <%= @member.name %></p>

<div>
  <img id='success' src="/images/thumbsup.jpg">
</div>

<form action="/bookings" method="get">
  <input class='booking_btns' type="submit" value="Return to bookings">
</form>
