<h1>Sessions</h1>

<% if @route == 'member' %>

  <p><%= @member.name %></p>

  <% @member.sessions.each do |session| %>
   <div class="session">
     <p><%= session.title %></p>
   </div>
  <% end %>

<% else %>

  <% @sessions.each do |session| %>
   <div class="session">
     <p><%= session.title %></p>
     <p><a href="/sessions/<%= session.id %>" >View</a></p>
   </div>
  <% end %>

  <a id='create_session' href="/sessions/new">Create new session</a>

<% end %>
